.container {
    width: 1180px;
    padding: 10px;
    position: relative;
}

.container .actionBox {
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.container .actionBox button.like {
    padding: 10px 50px;
    border: 3px solid #afacac;
    border-radius: 30px;
    background-color: #ff2c2c;
    outline: none;
    color: #afacac;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

button i {
    margin-right: 5px;
}

.container .actionBox button.like:hover {
    border-color: red;
    color: red;
}

.container .actionBox button.like.clicked {
    background: red;
    color: #fff;
    border-color: red;
}